html,
body {
	height: 100%;
	background-color: #f5f5f5;
}
.container {
	display: flex;
	flex-direction: column;
	height: calc(100% - 100px); /* Subtract footer height */
	justify-content: center;
	align-items: center;
	padding-bottom: 50px; /* Add space for the footer */
}
#chat-messages {
	flex: 1;
	overflow-y: scroll;
	background-color: #fff;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	width: 70%;
	margin-bottom: 10px;
}
.message {
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
	max-width: 60%;
}
.message--sent {
	background-color: #007bff;
	color: #fff;
	align-self: flex-end;
}
.message--received {
	background-color: #fff;
	color: #333;
	align-self: flex-start;
}
#chat-messages {
	flex: 1;
	overflow-y: scroll;
	background-color: #fff;
	padding: 10px;
	padding-bottom: 160px;
	border-radius: 5px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px !important;
	width: 100%;
	padding-top: 60px !important;
}

#chat-form {
	position: fixed;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	z-index: 1;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
}

#chat-messages,
#chat-form {
	width: 100%;
}
#scroll-bottom-btn {
	position: fixed;
	right: 30px;
	bottom: 120px;
	z-index: 100;
	background: none;
	color: gray;
	border: none;
}
#scroll-bottom-btn:hover {
	color: #08090a;
	background: none;
}
#scroll-bottom-btn:focus {
	outline: none;
}

#chat-form-container {
	background-color: inherit;
	padding: 10px;
	position: relative;
}

#send-button {
	background: white;
	border: none;
	color: gray;
}
#send-button:hover {
	color: #08090a;
	background: white;
}
#send-button:focus {
	outline: none;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 25px 0;
	text-align: center;
	font-size: 14px;
	background-color: #f5f5f5;
}

/* Media queries */
/* Media queries for iPhone X and similar devices */
@media (max-width: 812px) {
	#chat-messages {
		padding-bottom: 160px;
		padding-top: 100px !important;
	}

	#chat-form {
		bottom: 20px;
	}

	#scroll-bottom-btn {
		bottom: 90px;
	}
}

/* Media queries for smaller devices */
@media (max-width: 767.98px) {
	#chat-messages,
	#chat-form {
		width: 100%;
	}

	#chat-form {
		padding: 5px;
		bottom: 10px;
	}

	.form-control {
		font-size: 14px;
		padding: 5px;
	}

	.btn-primary {
		padding: 5px 10px;
		font-size: 14px;
	}

	.message {
		font-size: 14px;
	}

	#scroll-up-btn,
	#scroll-down-btn {
		width: 40px;
		height: 40px;
		font-size: 16px;
	}
}

@media (max-width: 767.98px) {
	#chat-messages,
	#chat-form {
		width: 100%;
	}

	#chat-form {
		padding: 5px;
		bottom: 10px;
	}

	.form-control {
		font-size: 14px;
		padding: 5px;
	}

	.btn-primary {
		padding: 5px 10px;
		font-size: 14px;
	}

	.message {
		font-size: 14px;
	}

	#scroll-up-btn,
	#scroll-down-btn {
		width: 40px;
		height: 40px;
		font-size: 16px;
	}
}
